@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing {
  width: 200px;
  height: 300px;
  display: inline-block;
  margin: 5px;
  padding-left: 10px;
}

img {
  width: 190px;
  height: auto;
  max-height: 300px;
}

li {
  list-style: none;
  text-align: center;
  margin: 10px;
}

h1 {
  text-align: center;
}
